<!-- <div class="container">
    <div class="content">
        <div class="content-image">
            <div class="image">
                <img src="@/assets/user.png" alt="">
            </div>
        </div>
        <div class="content-info">
            <h3>Information du doctor</h3>
            <div>
                <p>Nom : <span>kionou</span> </p>
            </div>
            <div>
                <p>Prenom : <span>kionou</span> </p>
            </div>
            <div>
                <p>Adresse Email: <span>kionou</span> </p>
            </div>
            <div>
                <p>Numero : <span>kionou</span> </p>
            </div>
            <div>
                <p>Specialité : <span>kionou</span> </p>
            </div>
            <div>
                <p>Centre : <span>kionou</span> </p>
            </div>
        </div>

    </div>
</div> -->



<!-- .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.content{
    width: 50%;
    height: 60vh;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
}
.content-image{
    border: 1px solid rgb(0, 255, 60);
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: auto;

}
.image{
    width: 180px;
    height: 200px;
    border: 1px solid blue;
    padding: 5px;
}
.image img{
    width: 100%;
    height: 100%;
}
h3{
     font-size: 30px;
     text-decoration: underline;

}

.content-info{
    border: 1px solid red;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    
}
.content-info p{
    font-weight: 700;
}
.content-info p span{
    font-weight: normal;
} -->


<!-- <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <div class="social-media">
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-invision fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
        </div> -->